<mat-tab-group class="tab-two">
    <mat-tab label="Add Category">
            <ng-template mat-tab-label>
                    <mat-icon>category</mat-icon>
                     Add Category
                  </ng-template>
            <app-add-category></app-add-category>
    
    </mat-tab>
    <mat-tab label="Add Event">
            <ng-template mat-tab-label>
                    <mat-icon>event</mat-icon>
                     Add Event
                  </ng-template>
  <app-add-event></app-add-event>
    </mat-tab>

</mat-tab-group>
