<div ><button  [disabled]="buttondisable" mat-mini-fab mat-raised-button (click)="openDialog()" >
    <mat-icon>add</mat-icon>   
     </button>

    </div>
<div class="image">
  <div class="heading">
     
      
    <mat-card>
     <span id="bold-heading"> Event </span>List...    </mat-card>
      
    </div>

    <mat-tab-group class="tab-one" >
        <mat-tab label="All"> <app-all-list></app-all-list> </mat-tab>
<!--         
      <mat-tab *ngFor="let category of categoryNameList" [label]="category.categoryName">
           </mat-tab> -->
    </mat-tab-group>

   
</div>
